body{
    width:92vw;
    height: 70vh;
    background-image: url("../img/backgrund.png");
    
    margin:15px;
    margin-right: 20px;
}
.background { 
    width: 98.7vw;
    height: 70vh;
    background-image: url("../img/balloon.jpg");
    background-size: cover ;
    }
h2{
    padding:10%;
    color:rgb(229, 251, 103);
}
h3{ margin-left:30%;
}
#text{
    position: absolute;
    top:35%;   
    padding: 30px  ;
}
.form{
    height: 45%;
    width: 45%;
    margin-left: 30%;
    margin-top: 200px;
}
#img{
    margin-left:20%;margin-bottom:10%;
    position: absolute;
    top:-7%;
  

}
.nav-item{
    border-radius: 15px 15px 15px 0px;
}
   


#tt{
    text-align: center;
    margin-bottom: 150px;
}
.centered {
    
    position: absolute;
    top: 64%;
    left: 54.5%;
    transform: translate(-50%, -70%);}
.title {
    text-align: center;
    margin-top: 150px;
}
.x
{
    margin: 25px; height: 550px; width: 120px;
     background-color:#FCD0D0;
     position: relative;
}
.btn-success{
background-color: green;
    border-radius: 15px 15px 15px 0px;
position: absolute;
bottom: 10px;
margin:5% 30%  ;

}
.logo
{
    position: absolute;
     max-width: 10%;
     width: 10%;
     height: auto;
     top: 50%;     
     left: 50%;
     transform: translate( -500%, -30%);
}
